<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <title>Diabets diagnose support system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/css/materialize.css}" rel="stylesheet"/>
    <script th:src="@{styles/js/jquery-3.5.1.js/}"></script>
    <script th:src="@{styles/js/materialize.js/}"></script>
    <meta charset="UTF-8"/>
</head>

<body>

<div th:fragment="navigation">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/main" class="brand-logo center">Dbts.io</a>
                <ul class="right">
                    <li><a href="/main">About</a></li>
                    <li><a href="/form">Form</a></li>
                    <li><a href="/addrecordform">Add record</a></li>
                    <li><a href="/createnewmodel">Laboratory</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

</body>
</html>