<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/navfragments.html ::headerfiles">
</head>
<body>

<div th:replace="fragments/navfragments.html::navigation"></div>

<div class="container">
    <form action="/createnewmodel">
        <h5>Dataset options</h5>

        <p>
            <label>
                <input name="pickedobjects" th:value="${pickedobjects}" type="text"/>
                <span>Pick dataset objects to create model</span>
            </label>
        </p>

        <div class="switch">
            <label>
                Old dataset
                <input name="usenewdataset" value="true" type="checkbox" checked="checked">
                <span class="lever"></span>
                New Dataset
            </label>
        </div>

        <!--        <p>-->
        <!--            <label>-->
        <!--                <input name="unpurned" value="-U" type="checkbox"/>-->
        <!--                <span>Use unpruned tree. -U</span>-->
        <!--            </label>-->
        <!--        </p>-->
<!--        <p>-->
<!--            <label>-->
<!--                <input name="collapsetree" value="-O" type="checkbox"/>-->
<!--                <span>Do not collapse tree. -O</span>-->
<!--            </label>-->
<!--        </p>-->
        <h5>Classifier options</h5>

        <p>
            <label>
                <input name="tresholdPruningC" min="0.001" max="1.0" step="0.001" th:value="${tresholdPruningC}" class="validate" type="number"/>
                <span>Set confidence threshold for pruning. (default 0.25)</span>
            </label>
        </p>

        <p>
            <label>
                <input name="minleafinstancesM" min="1" max="100" step="1" th:value="${minleafinstancesM}" class="validate" type="number"/>
                <span>Set minimum number of instances per leaf. (default 2)</span>
            </label>
        </p>

<!--        <p>-->
<!--            <label>-->
<!--                <input name="numoffoldsN" min="1" max="470" step="1" th:value="${numoffoldsN}" class="validate" type="number"/>-->
<!--                <span>Set number of folds for reduced error pruning. One fold is used as pruning set. (default 3)</span>-->
<!--            </label>-->
<!--        </p>-->

<!--        <p>-->
<!--            <label>-->
<!--                <input name="reducedErrorPruningR" value="-R" type="checkbox"/>-->
<!--                <span>Use reduced error pruning.</span>-->
<!--            </label>-->
<!--        </p>-->
        <p>
            <label>
                <input name="binarySplitsB" value="-B" type="checkbox"/>
                <span>Use binary splits only.</span>
            </label>
        </p>
        <p>
            <label>
                <input name="subtreeRaisingS" value="-S" type="checkbox"/>
                <span>Don't perform subtree raising.</span>
            </label>
        </p>
        <button type="submit" class="btn">Create model</button>
    </form>

    <div class="row">
        <div class="col s6">
            <H5>
                Current model evaluation summary
            </H5>
            <pre th:text="${modelacc}"></pre>
            <pre th:text="${tree}"></pre>
        </div>
        <div class="col s6">
            <H5>
                New model evaluation summary
            </H5>
            <pre th:text="${newmodelacc}"></pre>
            <pre th:text="${newtree}"></pre>
        </div>
    </div>

    <button type="submit" class="btn" formaction="/savemodel">Save new model</button>
</div>

</body>
</html>