<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/navfragments.html ::headerfiles">
</head>
<body>

<div th:replace="fragments/navfragments.html::navigation"></div>

<div class="container">
    <H5>
        Classifier evaluation summary
    </H5>
    <pre th:text="${modelacc}"></pre>
    <h5>
        Form
    </h5>
    <pre th:text="${form}"></pre>
    <h5>Classifier info</h5>
    <pre th:text="${tree}"></pre>

    <button type="submit" formaction="/savemodel">Save new model</button>
</div>

</body>
</html>