<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/navfragments.html ::headerfiles">
</head>
<body>

<div th:replace="fragments/navfragments.html::navigation"></div>

<div class="container">
    <p>Proin eu consectetur massa, eget accumsan ex. Duis mollis, leo sit amet aliquam bibendum, enim risus lobortis
        sapien, ut dapibus nisl sem ac arcu. Aliquam blandit ac elit ut bibendum. Sed eu porttitor purus. Suspendisse
        egestas malesuada tincidunt. Integer commodo elementum dolor, at accumsan ante. Donec ac porttitor nulla. Sed
        ultrices diam justo, id facilisis leo varius nec. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Aliquam pulvinar, ex non tincidunt cursus, sapien tortor molestie nibh, a
        efficitur lectus erat sodales ante. Maecenas pharetra consequat ex eget posuere. Etiam et orci lacinia, laoreet
        ante eu, auctor arcu. Vivamus sit amet tincidunt risus. Nulla finibus purus ipsum, in iaculis risus tincidunt
        a.</p>
</div>

</body>
</html>