/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}


#cat-container {
    position: relative;
    color: whitesmoke;
}

#div-over-cat {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#top-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
}

#top-div h1 {
    font-size: 4vw;
    margin: 0;
}

#bottom-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
}

#bottom-div h2 {
    font-size: 2vw;
    margin: 0;
}